{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>HAVELLS SENRA LIGHT NETWORK DEVELOPMENT</h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Uplink updated at <span id="lastUpdate"></span></h3>
      <h3>Uplink received is <span id="uplink"></span></h3>
    </div>
  </div>
</div>

{{template "footer.html" .}}
